body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: White;
}

#main-bio, #portfolio, #contact {
margin-top: 20px;
padding: 10px;
background-color: #F1FAEE;
color: #1D3557;
}

ul {
  list-style: none;
}

h2 {
  font-size: 24px;
  color: #457B9D;
  font-weight: bold;
}

a {
  color: #1D3557;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.bio-text {
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  padding-inline-start: 0px;
}

#proj-img {
  padding: 10px;
  margin: 10px;
  display: flex;
}