body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: White;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #F1FAEE;
  margin-top: 5px;
}

section {
  margin-top: 20px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #1D3557;
}

#contact ul > li {
  padding: 15px;
  list-style: none;
  display: inline-flex;
}

h2 {
  font-size: 24px;
  color: #457B9D;
  font-weight: bold;
}

a {
  color: #1D3557;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

.bio-text {
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  padding-inline-start: 0px;
}

#proj-img {
  padding: 10px;
  margin: 0 auto;
  display: block;
}

nav {
  justify-content: space-between !important;
}

.navbar-collapse, .collapse {
  flex-grow: unset !important;
  margin: 0px;
}

#contact {
  margin: auto;
  margin-top: 20px;

}

textarea, input {
  width: 800px;
}

.navbar-toggler-icon {
  padding: 12px;
}